body {
    font-family: Arial, sans-serif;
    background-color: #CAF4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .converter {
    background-color: #5AB2FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(3, 174, 210, 1);
    text-align: center;
    width: 350px;
    position: relative;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 800;
  }
  
  .input-section, .dropdown-section {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input, select {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0;
    width: 95%;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #FFF9D0;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
  }
  
  button:hover {
    background-color: #02d348;
    color: #000000;
  }
  
  .result {
    margin-top: 20px;
  }
  
  #result {
    font-size: 24px;
    color: #ff0000;
    font-weight: bold;
  }
  
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: none;
  }
  